body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }

  h1 {
    text-align: center;
    color: #4e3d94;
    margin-top: 50px;
  }
  li {
    list-style-type: none;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }

  .length-container {
    display: flex;
    background-color: #0F172A;
    padding: 10px 15px;
    gap: 5px;
    border-radius: 20px;
  }

  .length-container label {
    color: white;
    font-weight: bold;
    margin-right: 10px;
  }

  .length-container input[type="number"] {
    width: 50px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #4e3d94;
  }

