body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }

  h1 {
    text-align: center;
    color: #4e3d94;
    margin-top: 50px;
  }
  li {
    list-style-type: none;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }

  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .input-container label {
    color: #4e3d94;
    font-weight: bold;
    margin-right: 10px;
  }

  .input-container input[type="number"] {
    width: 50px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #4e3d94;
  }

  .button {
    background-color: #4e3d94;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .password-list {
    width: 300px;
    margin-left: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  .password-list li {
    margin-bottom: 5px;
    color: #4e3d94;
  }